@media screen and (max-width: 1025px){
	body{
		width: auto;
	}
	header{

	}
article {
	
	
}
figure.hebergement{
	display:flex;
	flex-direction: column;
}
figure.populaires{
	width: 84%;
	display: flex;
	
}
#info{
	width: 100%;
	display: flex;
	
}
}
